<div class="container">
<h1>Guess Who</h1>
<h2>"I play the guitar"</h2>

{{!-- loop through images --}}

<img src="/images/elizabeth.png" alt="">
<img src="/images/jp.png" alt="">
<img src="/images/aaron.png" alt="">
<img src="/images/jeremy.png" alt="">
</div>
{{!-- <ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
</ul> --}}
