<div class="container">
<h1>Guess Who</h1>
<h2 id="right">Found! <em>How you know this...</em></h2>

<a href="/"<button class="homeButton"><strong>Next!</strong> </button></a>

<h2 id="right">"I play the guitar"</h2>


<img src="/images/jeremy.png" alt="">

<p>Name: Jeremy</p>
<p>"I play the guitar"</p>


</div>