<div class="container">
<h1>Guess Who</h1>

<button class="quote">Random Quote</button>

<h2>"I play the guitar"</h2>


<img src="/images/jeremy.png" alt="">

<p>Name: Jeremy</p>
<p>"I play the guitar"</p>


</div>