body {
  font-family: 'Patrick Hand SC', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

img {
  border-radius: 60%;
  margin: 20px 0;
}