body {
  font-family: 'Patrick Hand SC', cursive;
  font-family: 'Indie Flower', cursive;
  
  background-color: #9ADCFF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 100px;
  margin: 40px

}

h2 {
  font-size: 50px;
  background-color: white;
  padding: 15px;
  border: 5px black solid
}



img {
  border: 2px black solid;
  width: 200;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

img:hover {
 
  opacity: 70%;
  color:#FFF89A ;
  transition: 0.5s;

}

.quote {
  font-size: 25px;
  font-family: "Patrick Hand SC";
  background-color: #FFF89A;
  box-shadow:  2px 2px 10px 2px black;
}

.homeButton {
  font-size: 50px;
  font-family: "Patrick Hand SC";
  background-color: #FFF89A;
  box-shadow:  2px 2px 10px 2px black;
  padding: 25px;
}

#wrong {
  color: red;
}

#right{
  color:green;
}


footer {
  background-color:#FFF89A;
  position: fixed;
  bottom:0;
  width: 100%;
  text-align: center;
}